/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
.gallery {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.gallery__item {
  width: calc(20% - 16px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.gallery__figure {
  margin: 0;
}

.gallery__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.gallery__img:hover {
  transform: scale(1.05);
}

.gallery__figcaption {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 8px 8px;
}
.loader {
  display: none;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.loader.visible {
  display: block;
}

.load-more-btn {
  display: none;

  margin: 0 auto;
  padding: 16px 32px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: darkblue;
}
